<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bibliotec</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="media/icon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    
        <nav class="atras-login">
           <header>
    <div class="container">
        <p  onclick="location.href='/'"  class="logo">Bibliotec</p>
    
        <nav>
            
            </a>
            <a href="/registro_admin">registro admin</a>
            <a href="/login_admin">login admin</a>
            <a  href="/">
                <img src="img/logoatras.jpg" >
            </a>
        
            
        </nav>
    </div>
</header>

<section id="hero_cf">
       <div class="texto_cf">
        Bibliotec
       </div> 

</section>



   
    
                
                      
    
         
</body>
</html>