<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bibliotec</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/img">
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <header>
        <div class="container">
            <p href="/" class="logo">Bibliotec</p>
          
            <nav>
               
                <a href="#nuestros-programas">Libros</a>
                <a href='/'">Cerrar sesion</a>

            </nav>
        </div>
    </header>

    <section id="hero">
        <h1> Bienvendido a bibliotec<br></h1>
        <div class="welcome"
        style="border: 1px solid #ffffff; color: white; margin: 10px; padding: 10px;
        background: transparent; box-shadow: 0px 0px 10px .4px rgb(255, 255, 255);"
        >Bienvendido nombre de usuario</div>
    </section>

    <section id="somos-proya">|
        <div class="container">
            <div class="img-container"></div>
            <div class="texto">

                <h2>la <span class="color-acento">importancia</span> de leer</h2>
                <p>
                    Nos permite conectar y ponernos en la piel de otras personas / personajes. <br>
                    Ejercita a nuestro cerebro: despierta vías neuronales, activa la memoria… <br>
                    Nos hace recordar, conocer y aprender. Libera nuestras emociones: alegría,
                    tristeza, cólera, miedo, sorpresa, amor
                </p>
            </div>
        </div>
    </section>

    <section id="nuestros-programas">
        <div class="container">
            <h2>Nuestros Libros</h2>
            <div class="programas">
                <div class="libr">
                    <div class="card">
                        <div class="git">
                            <img src="/img/libro1.jpg"  height="40px"> 
                       
                        <button  onclick="location.href='/reserva_libro'">reservar</button>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="git">
                        <img src="/img/libro2.jpg" >
                        
                        <button  onclick="location.href='/reserva_libro'" >reservar</button>
                    </div>
                    </div>
                        <div class="card">
                            <div class="git">
                            <img src="/img/La-Tregua-Mario-Benedetti.jpg" >
                           
                        <button  onclick="location.href='/reserva_libro'">reservar</button>
                            </div>
                        </div>
                
                        <div class="card">
                            <div class="git">
                            <img src="/img/libro8.jpg" > 
    
                            <button  onclick="location.href='/reserva_libro'">reservar</button>
                            </div>
                        </div>
                            <div class="card">
                                <div class="git">
                                <img src="/img/libro3.jpg" >
                                
                                <button  onclick="location.href='/reserva_libro'">reservar</button>
                                </div>
                            </div>
                    </div>
                    </div>
                    </div>
        </div>
    </section>

    <section id="caracteristicas">
       
                <div class="Icon">
                    
                </div>	
                </div>
      
        </div>
    </section>

    <section id="final">
    
<div class="texto1">
        <h4> Haremos un increible concurso con todos los integrantes del colegio </h4><br>
        <h4>El grupo que lea mas libros en 6 meses ganara:</h4>
        <div class="premio">
        <li>PASEO DONDE ELIGA EL GRUPO,(SOLO EN EL DEPARTAMENTO DEL QUINDIO)</li>
        <li>TODO PAGO</li>
        <li>ALMUERZO, IDA Y VUELTA</li>
        </div>
    </h2>
    </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; Bibliotec 2022</p>
        </div>
    </footer>
</body>
</html>