<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bibliotec</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/img">
    <link rel="stylesheet" href="/sweet/sweetalert2.min.css">
    <link rel="shortcut icon" href="media/icon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

   
</head>
<body>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <header>
        <div class="container">
            <p href="/" class="logo">Bibliotec</p>
            <div class="nav">
            <nav>
               
                <a href="#nuestros-programas">Libros</a>
                <a href='/'">Cerrar sesion</a>

            </nav>
        </div>
    </header>

    <section id="hero">
        <h1> Bienvendido a bibliotec<br></h1>
       
    </section>

    <section id="somos-proya">|
        <div class="container">
            <div class="img-container"></div>
            <div class="texto2">

                <h2>la <span class="color-acento">importancia</span> de leer</h2>
                <p>
                    Nos permite conectar y ponernos en la piel de otras personas / personajes. <br>
                    Ejercita a nuestro cerebro: despierta vías neuronales, activa la memoria… <br>
                    Nos hace recordar, conocer y aprender.<br> Libera nuestras emociones: alegría,
                    tristeza, cólera, miedo, sorpresa, amor
                </p>
            </div>
        </div>
    </section>

    <section id="nuestros-programas">
        <div class="container_libros">
            <h2>Nuestros Libros</h2>
            <div class="programas">
                <div class="libr">
                    <div class="conatiner">

                      <div class="cartas">
                        <% data.forEach((producto)=> { %>
                            <div class="card" style="width: 15rem;background-color: rgb(255, 255, 255);">
                              <img src="<%= producto.url %>" class="card-img-top" alt="...">
                              <div class="card-body" style="color:blueviolet; font-size: 15px">
                                <%= producto.nombre %>
                              
                                <form action="/reservar/<%= producto.id %>" method="get">
                                  <button style="width: 150px; color: rgb(255, 255, 255); background-color:blueviolet;" type="submit" class="btn btn-primary " >reservar</button>
                                </form>
                              </div>

                            </div>
                          <% }) %>
                            
                          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
                            </div>
                    </div>
                    </div>
                    </div>
        </div>

    </section>

    <section id="caracteristicas">
       
                <div class="Icon">
                    
                </div>	
                </div>
      
        </div>
    </section>

    <section id="final">
        <div id="container-premio">	

                
                
            
            <div class="product-image">
                
            <img src="/img/paseo.jpg" alt="">
                
          
            <div class="info">
                <h2>
                    Gran paseo</h2>
                <ul>
                    <li><strong>paseo: </strong>(paseo donde elijan)</li>
                    <li><strong>detalles: </strong>todo pago</li>
                    <li><strong>como participar </strong>el grupo que mas lea se lo ganara</li>
                    <li><strong>duracion: </strong>1 dia completo</li>
                    <li><strong>desayuno: </strong>pago</li>
                    <li><strong>almuerzo: </strong>pago</li>
                    <li><strong>comida: </strong>pago</li>
                </ul>
            </div>
            </div>
       
            
            </div>
            
            
    </section>

    <footer>
        <div class="container">
            <p>&copy; Bibliotec 2022</p>
        </div>
    </footer>
</body>
</html>